body {
	background: #EFEFEF;
}

.app {
	background: red;
}


.container {
	max-width: 900px;
	margin: 0;
}

.text-center {
	text-align: center;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
}

.leaderboard {
	color: red;
	text-transform: uppercase;

}